body{
    background-color: rgb(52, 52, 52);
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Russo One', sans-serif;
}
.main{
    display:flex;
    flex-direction: row;   
    justify-content: center; 
    background-color: black;
    margin: 80px auto;
}

.sqr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border:solid 2px rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px;
    width: 150px ;
    height: 150px;
    background-color: white;
}

.sqr img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}